*, 
::before, 
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    scroll-behavior: smooth;
}

sup {
    font-size: 1rem;
    text-transform: lowercase;
}
iframe {
    border: 0;
}

/* Buttons */
.red-button {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: red;
    width: 150px;
    height: 40px;
    padding: 0.45rem;
    border-radius: 20px;
    transition-duration: 1s;
    text-align: center;
    font-size: 1.25rem;
}
.red-button:hover {
    background-color: white;
    color: red;
}

.black-button {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    display: inline-block;
    background-color: black;
    width: 150px;
    height: 40px;
    padding: 0.45rem;
    border-radius: 20px;
    transition-duration: 1s;
    text-align: center;
    border: none;
    cursor: pointer;
}
.black-button:hover {
    background-color: white;
    color: black;
}

.contact-button-us {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    transition-duration: 1s;
}
.contact-button-us:hover {
    transform: rotate(360deg);
}

/** Colors **/
.background-grey {
 background-color: #f5f5f5;
}
.background-blue {
 background-color: skyblue;
}
.background-pink {
    background-color: #D43C61;
}
.white {
    color: white;
}

/** Circle **/
.rounded {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/** Header Topbar **/ 
.header {
    color: white;
}
.header h1 {
    position: absolute;
    left: 3.125rem;
    top: 1.3rem;
    font-size: 1.5rem;
}
.header nav {
    padding: 0 3rem;
    position: absolute;
    right: 3.125rem;
    top: 1.3rem;
}
.header .topbar {
    position: fixed;
    padding: 0 3rem;
    width: 100%;
    background-color: black;
    height: 4rem;
}
.header .topbar a {
    text-decoration: none;
    color: white;
}
.header .topbar ul {
    list-style-type: none;
}
.header .topbar ul li {
    display: inline-block;
}
.header .topbar ul li a {
    display: inline-block;
    padding: 0 1.5rem;
    width: 100%;
    text-align: center;
    transition-duration: 0.8s;
    line-height: 2rem;
}
.header .topbar ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}

/** Header Banner **/ 
.header .banner {
    background-image: url('../images/dark_tint.png'), url('../images/pizza_billy.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 14rem 0;
}
.header .banner h2 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.header .banner address {
    font-size: 4rem;
    font-style: normal;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.header .banner address a {
    text-decoration: none;
    color: white;
}
.header .banner p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* Generic Wrapper : Service + Localistion + Contact */
.wrapper .container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 5rem 0;
}
.wrapper h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}
.wrapper p {
    font-size: 1.5rem;
    color: grey;
    margin-bottom: 1rem;
}
.wrapper .cards {
    margin: 2rem auto;
}

.wrapper div.card {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 3rem;
    width: 500px;
    display: inline-block;
    height: 320px;
    overflow: hidden;
    margin: 0 0.2rem;
}

.wrapper .icon {
    padding-top: 2rem;
    font-size: 2rem;
    color: white;
}
.wrapper h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: grey;
    padding-top: 1.7rem;
}
.wrapper p.detail {
    padding-top: 1.7rem;
    font-size: 1rem;
}

/* Contact */
#contact .container.form {
    width: 50%;
}
#contact p {
    color: white;
}
#contact form > * {
    padding: 2em 0 0 2em;
}
#contact  label {
    font-weight: bold;
    display: block;
    color: white;
    text-align: left;
}
#contact input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: #ffffff;
    border: none;
    color: #444;
    border-radius: 4px;
    padding: 0 1em;
    width: 100%;
  }
#contact  .input-control {
    height: 2.75em;
}

/* Footer */
.footer {
    background-color: #383b43;
    padding: 3rem 0em 4rem;
}
.footer .container {
    margin: 0 auto;
    text-align: center;

}
.footer .container > div {
    color: #cdced0;
    width: 23%;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: text-top;
}
.footer .container > div ul {
    list-style-type: none;
}
.footer .container > div a {
    color: #cdced0;
}
.footer .container > div a:hover {
    text-decoration: underline;
}
.footer p.copyright {
    margin: 3em auto;
    padding: 2em 0;
    text-align: center;
    border-top: 1px solid #cdced0;
    width: 72%;
    color: #cdced0;
}